$light1: #fafcff;
$light2: #eff4fb;
$light3: #dde4f1;
$light4: #d1d8e8;

$dark1: #2b2d48;
$dark2: #454c65;
$dark3: #7a849a;

$primary1: #614ff7;
$primary2: #452ff5;
$primary3: #2910f4;

$secondary1: #06bb89;
$secondary2: #05a87b;
$secondary3: #04956d;
